<div class="modal">
  <div class="modal__content">
    <div class="modal__poster-wrapper">
      <img src="img/7Ly1OGBLuYgRvHgvIRa8YytMKzH.jpg" alt="" class="modal__poster">
    </div>
    <div class="modal__info">
      <h2 class="modal__title">
        Название фильма <span>(2019)</span>
      </h2>
      <div class="modal__genres modal__info-block">
        <h3>Жанр:</h3>
        <ul class="modal__genres-list">
          <li>Документальный</li>
          <li>Мелодрама</li>
          <li>Мультфильм для взрослых</li>
        </ul>
      </div>
      <div class="modal__info-block">
        <h3>Рейтинг</h3>
        <span class="modal__rating">10</span>
      </div>
      <div class="header__info  modal__info-block">
        <h3 dir="auto">Обзор: </h3>
        <div class="overview" dir="auto">
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ut
            vero, commodi quaerat quasi animi nam corporis hic debitis nulla, ullam non. Quia cupiditate
            quo obcaecati hic. Molestiae, numquam natus!</p>
        </div>
        <p class="modal__link-wrapper">
          <a class="modal__link" href="https://google.com" target="_blanc">Оффициальная страница</a>
        </p>
      </div>
      <div class="modal__close"></div>
    </div>
  </div>
</div>
