<div class="modal">
  <div class="modal__content">
    <div class="modal__poster-wrapper">
      <img src="img/7Ly1OGBLuYgRvHgvIRa8YytMKzH.jpg" alt="" class="modal__poster">
    </div>
    <div class="modal__info">
      <h2 class="modal__title">
        Название фильма <span>(2019)</span>
      </h2>
      <div class="modal__genres modal__info-block">
        <h3>Жанр:</h3>
        <p class="modal__genres-list">
          qwe
        </p>
      </div>
      <div class="modal__info-block">
        <h3>Рейтинг</h3>
        <span class="modal__rating">10</span>
      </div>
      <div class="modal__info  modal__info-block">
        <h3 dir="auto">Обзор: </h3>
        <div class="modal__overview" dir="auto">
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ut
            vero, commodi quaerat quasi animi nam corporis hic debitis nulla, ullam non. Quia cupiditate
            quo obcaecati hic. Molestiae, numquam natus!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum voluptates vitae asperiores odio
            error quas quibusdam expedita vel veniam, beatae accusantium, ea aspernatur! Reiciendis ut eius temporibus
            ducimus tenetur.</p>
        </div>
        <p class="modal__link-wrapper">
          <a class="modal__link" href="https://google.com" target="_blanc">Оффициальная страница</a>
        </p>
      </div>
      <div class="modal__close"></div>
    </div>
  </div>
</div>
