body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.wrapper {
  position: relative;
}

.header {
  justify-content: center;
  transition: all 0.3s;
  position: relative;
  margin-bottom: 15px;

  &--fullheight {
    height: 100vh;
  }
}

.header__content {
  transition: all 0.3s;
  padding-top: 50px;
}


.header__form {
  width: 100%;
  margin-bottom: 15px;
}

.header__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ffffff;
  font-size: 35px;
  color: #ffffff;
  background: $main-color;

  &::placeholder {
    color: #ffffff;
  }
}

.filters {
  display: block;

  &.hide {
    display: none;
  }
}



.filter__row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  &.show {
    display: flex;
  }
}

.filters__title {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.filter {
  // display: none;
  transition: all 0.1s;
  transform: scale(0);
  height: 0;

  &.hide {
    display: block;
    transform: scale(1);
    height: auto;
  }
}

.filter__lang-list {
  display: flex;
}

.filters__btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid #948e8e;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  margin-right: 25px;
  background: #ffffff;
  cursor: pointer;

  &.active {
    outline: 2px solid #000000;
    color: #ffffff;
    background: #000000;
  }

  &:hover,
  &:focus {
    color: yellow;
    background: blue;
    outline: 2px solid blue;
  }
}



.filter__link {
  &.active {
    color: red;
  }

  &:hover {
    text-decoration: underline;
  }
}

.search__result {
  display: none;

  &--active {
    display: block;
  }
}

.item__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 185px);
  grid-gap: 1rem;
  justify-content: space-between;
}

.main {
  position: relative;
  flex-grow: 1;
}
