.header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.header__form {
  width: 100%;
  margin-bottom: 15px;
}

.header__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 35px;
}

.filter__row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.filter__lang-list {
  display: flex;
}

.filters__btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid #948e8e;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  margin-right: 25px;
  background: #ffffff;
  cursor: pointer;

  &.active {
    outline: 2px solid #000000;
    color: #ffffff;
    background: #000000;
  }

  &:hover,
  &:focus {
    color: yellow;
    background: blue;
    outline: 2px solid blue;
  }
}

.filter--type {
  padding-top: 50px;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    font-size: 25px;
    margin-right: 15px;
    font-weight: 700;
  }
}

.filter__link {
  &.active {
    color: red;
  }

  &:hover {
    text-decoration: underline;
  }
}

.search__result {
  display: none;
  grid-template-columns: repeat(auto-fill, 185px);
  grid-gap: 1rem;
  justify-content: space-between;

  &--active {
    display: grid;
  }
}

.movies__item {
  min-width: 185px;
  display: block;
  min-height: 370px;
  margin-bottom: 25px;
}

.card {
  display: flex;
  min-height: 370px;
  flex-direction: column;
  box-shadow: 3px 25px 20px 1px rgba(200, 200, 200, .75);
  position: relative;
  transition: all 0.3s;

  &:hover,
  &:focus {
    transform: translateY(10px);
    box-shadow: 0 15px 10px 3px rgba(200, 200, 200, .75);
  }
}

.card__vote {
  position: absolute;
  top: 18px;
  left: 1px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF637D;
  height: 25px;
  width: 44px;
  display: inline-block;
  line-height: 25px;
  font-weight: 900;
}

.card__img {
  height: 278px;
  width: 185px;
}

.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px 15px 0;
  max-height: 80px;
}

.modal {
  // display: none;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 990;
  background-color: #ffffff;
  transform: scaleY(0);
  transition: all 0.2s ease-in-out;

  &--show {
    display: flex;
    transform: scaleY(1);

  }
}

.modal__content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.modal__title {
  text-align: center;
}

.modal__poster-wrapper {
  width: 350px;
  flex-shrink: 0;
}

.modal__info {
  padding: 25px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 85%;
    height: 4px;
    background: rgba(124, 124, 124, .5);
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
  }

  &::before {
    transform: rotate(45deg) translate(-50%, -50%);

  }

  &::after {
    transform: rotate(-45deg) translate(-50%, -50%);
  }

  &:hover {
    border: 3px solid rgba(124, 124, 124, .5)
  }
}
