.modal {
  display: none;
  // display: flex;
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: $main-color;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  padding: 30px;

  &--show {
    display: flex;
  }
}

.modal__content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  outline: 2px solid blue;
  overflow-y: auto;
  height: 100%;
}

.modal__title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 15px;
  max-width: calc(100% - 50px);

  span {
    font-weight: normal;
  }
}

.modal__poster-wrapper {
  width: 350px;
  flex-shrink: 0;
}

.modal__info {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.modal__info-block {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
}

.modal__genres-list {
  vertical-align: baseline;
}


.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 85%;
    height: 4px;
    background: rgba(124, 124, 124, .5);
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
  }

  &::before {
    transform: rotate(45deg) translate(-50%, -50%);
  }

  &::after {
    transform: rotate(-45deg) translate(-50%, -50%);
  }

  &:hover {
    border: 3px solid rgba(124, 124, 124, .5)
  }
}
